body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Prevenire lo scroll orizzontale */
    display: flex;
    justify-content: center;
    align-items: center;
}
#profilo{

    border: 1px black solid;
    background-color: orange;
    padding-top: 2%;
    padding-left: 2%;
    height: 100%;
    overflow: auto; /* Nel caso il contenuto del div fisso sia troppo lungo */
}

.container-fluid{
    
    height: 100vh;


}
.container-fluid .row{

    height: 100%;

}

#main{

    overflow-y: auto; /* Permette lo scroll verticale */

}