body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Prevenire lo scroll orizzontale */
    overflow-y: hidden;
    background-image: url('../img/body.jpg'); /* Sostituisci con il percorso della tua immagine */
    background-size: cover; /* Adatta l'immagine per coprire tutto lo sfondo */
    background-repeat: no-repeat; /* Impedisce la ripetizione dell'immagine */
    background-attachment: fixed; /* Mantiene l'immagine fissa durante lo scorrimento */
    background-position: center; /* Centra l'immagine di sfondo */
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    height: 100vh;
    width: 100%;
    align-items: center;
    padding-right: 0px;
    margin-right: 0px;

}

#main-row {
    height: 100%;
    width: 100%;
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 1px;
}

#main-col { 
    width: 100%;
    background-color: white;
    min-height: 100%;
    padding-left: 3%;
    padding-right: 3%;
}


#meucci_logo {
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

#button-login{

    width: 100%;

}

#sub{

    display: flex;
    justify-content: center; /* Allinea il contenuto orizzontalmente al centro */
    align-items: center; /* Allinea il contenuto verticalmente al centro */
    width: 100%; /* Imposta la larghezza del div esterno */
    height: 100vh; /* Imposta l'altezza del div esterno */
    gap: 0;
}


#sub-main{
    color: white;
    display: flex;
    flex-direction: column; /* Imposta il layout in colonna */
    align-items: center; /* Allinea il contenuto delle colonne al centro */
    /* Puoi aggiungere stili aggiuntivi al div centrato qui */

}