.container {
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center;    /* Centra verticalmente */
    height: 100vh;          /* Altezza 100% della finestra del browser */
    width:200px;
    height:200px;
    background:#f60;
    margin:0 auto;
}
body{

    overflow-x: hidden; /* Prevenire lo scroll orizzontale */


}

#profilo{

    border: 1px black solid;
    background-color: rgb(0, 0, 106);
    padding-top: 1%;
    padding-left: 2%;
    height: 100%;
    overflow: auto; /* Nel caso il contenuto del div fisso sia troppo lungo */
}

.profilo-option{

    border: 1px white solid;
    margin-top: 10px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: white;
}

a{

    text-decoration: none;

}

#annunci-container{

    margin-top: 2000px;

}

.blue{

    background-color: rgb(0, 0, 106);

}

#main{
    

    margin-top: 64px;

}

#profile-img{

    width:100%;


}

table{

    margin-top: 20px;

}

.card{

    height: 200px;

}

#image-div{

    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center;    /* Centra verticalmente */
    
}
.fitted-text {
    font-size: calc(1vw + 1vh); /* Dimensione del testo relativa sia alla larghezza che all'altezza della viewport */
    line-height: 1.2; /* Altezza della linea */
}